# ----------------------------
# Virtual Environment
# ----------------------------
.venv/
venv/

# ----------------------------
# Python Cache
# ----------------------------
__pycache__/
*.py[cod]
*$py.class

# ----------------------------
# Environment Variables
# ----------------------------
.env

# ----------------------------
# IDE Files
# ----------------------------
.vscode/
.idea/

# ----------------------------
# Testing
# ----------------------------
.pytest_cache/

# ----------------------------
# Type Checking
# ----------------------------
.mypy_cache/

# ----------------------------
# Coverage Reports
# ----------------------------
.coverage
htmlcov/

# ----------------------------
# Build Files
# ----------------------------
build/
dist/
*.egg-info/

# ----------------------------
# Operating System Files
# ----------------------------
.DS_Store
Thumbs.db